

  

    <!-- Begin page content -->
    <div class="row page-content">
        <div class="col-md-8 col-md-offset-2">
            <!--============= timeline posts-->
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <!-- left posts-->
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                    <!-- post state form -->
                                        <app-search-input></app-search-input>
                                    <!-- end post state form -->

                                    <!--   posts -->
                                        <app-search-list></app-search-list>
                                    <!--  end posts-->

                            </div>
                        </div>
                    </div><!-- end left posts-->
                </div>
            </div><!-- end timeline posts-->
        </div>
    </div>


    
    
    