
<div class="card-block">
<div class="center">
    <h4 class="m-b-0"><span class="icon-text">Login</span></h4>
    <p class="text-muted">Access your account</p>
</div>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
    <input type="email"
            id="email"
            class="form-control"
            formControlName="email"
            placeholder="Email Address">
    </div>
    <div class="form-group">
    <input type="password"
            id="password"
            class="form-control"
            formControlName="password"
            placeholder="Password">
    <a class="pull-xs-right">
        <small>Forgot?</small>
    </a>
    <div class="clearfix"></div>
    </div>
    <div class="center">
        <button
            class="btn  btn-azure"
            type="submit"
            [disabled]="!myForm.valid">Login</button>   
    
    </div>
</form>
</div>